@import "partials/reset";
@import "partials/params";
@import "partials/mixins";
@import "partials/libs";
@import "partials/font";
.wrap {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 1578px;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}
.header{
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 38px;
  padding-right: 36px;
  border-bottom: 2px solid #f2f2f2;
  position: relative;
}
.header__left-block{
  display: flex;
}
.header__logo{
  display: flex;
  padding-right: 64px;
}
.header__content{
  display: flex;
  font-family: Circe sans-serif;
  font-weight: bold;
}
.logo__img{
  width: 100%;
  cursor: pointer;
}
.header__text{
  font-size: 10.5px;
}
.header__span{
  font-weight: bold;
}
.header__score-img {
  top: 14%;
  right: 2%;
  position: absolute;
}
.header__member{
  display: none;
}
.header__member1{
  display: none;
}
.header__contact{
  display: flex;
  font-size: 18px;
  justify-content: space-between;
 }
.header__link--value{
  font-size: 14px;
  padding: 6px 20px;
  border: 2px solid #ffb119;
  border-radius: 20px;
  text-decoration: none;
  text-transform: none;
  color: black;
  width: 188px;
  height: 36px;
}
.header__link--value:hover{
  color: #0454a2;
  text-decoration: none;
}
.header__link--bell:hover{
  color: #0454a2;
  text-decoration: none;
}
.header__link--bell{
  font-size: 14px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: none;
  border-radius: 20px;
  background-color: #ffb119;
  color: white;
  width: 150px;
  height: 36px;
}
.header__link{
  padding-top: 5px;
  text-decoration: none;
  color: black;
}
.nav__item{
  display: flex;
  justify-content: space-between;
}
.nav__link{
  text-decoration: none;
  text-transform: none;
  color: black;
  font-size: 16px;
  margin-right: 20px;
  border-bottom: 1px solid #999999;
}
.nav__link:hover{
  text-decoration: none;
  text-transform: none;
  color: #fd5520;
  font-size: 16px;
}
.btn-nav{
  border: 0;
  background: none;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 0.2rem;

}
.nav__btn{
  text-align: left;
  display: none;
}
.btn-nav__line{
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background: #000;
  margin-bottom: 3px;
}
.btn-nav:hover{
  background: #e0e0e0;
}
.header__search{
  background: url(img/sprite.png) -7px 0px;
  width: 50px;
  height: 65px;
  cursor: pointer;
}
.header__blog{
  background: url(img/sprite.png) -66px 0px;
  width: 50px;
  height: 65px;
  cursor: pointer;
}
.header__notice{
  background: url(img/sprite.png) -119px 0px;
  width: 50px;
  height: 65px;
  cursor: pointer;
}
.header__score-text{
  display: none;
}
.header__info{
  display: flex;
  align-items: center;
}
.header__personal-area{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 1150px){
  .nav__item {
    flex-direction: column;
  }
  .header__member {
    top: 14%;
    right: 100px;
    position: absolute;
    display: block;
  }

}
@media screen and (max-width: 895px){
.nav__btn{
  display: block;
  position: absolute;
  margin-top: 1%;
  margin-left: -3.2%;
}
  .header__member{
    display: none;
  }
  .header__member1 {
    top: 6%;
    right: 91px;
    position: absolute;
    display: block;
  }
  .header__score-text{
    display: block;
    top: 4%;
    right: 42px;
    position: absolute;
    color: red;
  }
  .header__score-img{
    display: none;
  }
  .header__search{
    display: none;
  }
  .logo__img{
    padding-left: 16%;
  }

  .header__personal-area{
    display: none;
  }
  .nav__list{
    display: none;
  }

  .nav__list--open, .nav__btn{
    display: block;
  }
  .nav__item{
    flex-direction: column;
  }
.nav__item-left{
  flex-direction: column;
  display: flex;
}
  .header{
    height: 100%;
    height: 90px;
  }
  .nav__item-right{
    flex-direction: column;
    display: flex;
  }
  .header__left-block{
    flex-direction: column;
  }
  .header__content{
    top: 100%;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0px;
    background: white;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 12px;
  }
  .nav {
    display: block;
    width: 100%;
  }
  .nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    font-weight: 300;
    border-bottom: 1px solid #f1f1f1;
    &:hover,&.active{
      text-transform: uppercase;
    }
  }

}



