@import "partials/reset";
@import "partials/params";
@import "partials/mixins";
@import "partials/libs";
@import "partials/exstend";
@import "partials/font";
.page{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  //max-width: 1640px;
  padding: 0 10px;
  justify-content: space-between;
}
.page__wrap{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 1620px;
  padding: 0 10px;
  justify-content: space-between;
}
.navigation{
  display: flex;
  width: 100%;
}
.navi{
  color: #999999;
  font-size: 14px;
  margin-top: 60px;
  margin-bottom: 50px;
  border-bottom: 1px solid #f2f2f2;
  margin-right: 5px;
}
.headline{
  font-size: 52px;
  margin-bottom: 45px;
  line-height: 1.1;
}
.description{
  display: flex;
  margin-bottom: 45px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.description__main{
  width: 50%;
}
.description__text{
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
}
.slider__block{
  max-width: 606px;
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 26%;
  margin: 0 auto;
}
.slider__img{
  width: 100%;
  height: 100%;
  background-size: cover;
}
.slider__overlay{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}
.slider{
  width: 605px;
  height: auto;
  margin-top: -2%;
  .slick-arrow{
    position: absolute;
    overflow: hidden;
    text-indent: -999px;
    color: transparent;
    background: url(img/sprite4.png) no-repeat;
    width: 46px;
    height: 46px;
    border: 1px solid #cacaca;
    top:50%;
    z-index: 1;
    margin-top: -23px;
    border-radius: 50%;
    outline: none;
    &.slick-next{
      right: 16px;
      background-position: -75px center;
    }
    &.slick-prev{
      left: 16px;
      background-position: 13px center;
    }
    &:hover{
      border-color: #f7f7f7;
      top:50%;
      z-index: 1;
      margin-top: -23px;
      border-radius: 50%;
    }

  }

  .slick-dots{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin-bottom:15px;
    display: flex;
    justify-content: center;
    li{
      overflow: hidden;
      text-indent: -999px;
      color: transparent;
      width: 15px;
      height: 15px;
      border: 1px solid #cacaca;
      border-radius: 50%;
      margin-right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      button{
        display: none;
      }
      &:last-child{
        margin-right: 0;
      }
      &:hover, &.slick-active{
        button{
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background-color: #ffffff;
          display: block;
        }
      }
    }
  }
}
.slider__text{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 60px 85px;
  color: white;
}
.slider__headline{
  font-size: 24px;
  text-decoration: underline;
  font-family: Myriad sans-serif;
  line-height: 1.5;
}
.slick-slider{
  margin-top: 23%;
}
.slider__description{
  font-size: 18px;
  font-family: Myriad sans-serif;
  line-height: 1.4;
}
.links__item{
  text-decoration: none;
  color: #666666;
  background-color: #ececec;
  padding: 8px 10px;
  font-size: 12px;
}
.links__item:hover{
  text-decoration: none;
  color: #fb835e;
  background-color: #ececec;
  padding: 8px 10px;
  font-size: 12px;
}
.links__block{
  margin-bottom: 25px;
  display: block;
}
.links__classifiers, .links__competence{
  font-size: 12px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 8px 10px;
}
.links__text,.courses__text{
  font-size: 12px;
  text-decoration: underline;
  color: #666666;
  margin-right: 20px;
  cursor: pointer;
}
.links__text:hover,.courses__text:hover{
  font-size: 12px;
  text-decoration: underline;
  color: #fb835e;
  margin-right: 20px;
  cursor: pointer;
}
.links__classifiers-headline{
  font-weight: bold;
}
.links__editor{
  display: flex;
  margin-top: 30px;
  margin-bottom: 90px;
}
.links__img{
  background: url(img/sprite1.png) -37px -5px;
  width: 44px;
  height: 32px;
  cursor: pointer;
}
.links__img:hover{
  background: url(img/sprite1.png) 1px -5px;
  width: 44px;
  height: 32px;
  cursor: pointer;
}
tr{
  border: none;
}
.table-responsive{
  overflow: x;
}
.links__edit{
  font-size: 14px;
  color: #fd5520;
  border-bottom: 1px dotted red;
  cursor: pointer;
}
.links__editor:hover{
  font-size: 14px;
  color: #fd5520;
  cursor: pointer;
  .links__img{
    background: url(img/sprite1.png) 1px -5px;
    width: 44px;
    height: 32px;
    cursor: pointer;
  }
}
.participants__headline{
  margin-bottom: 40px;
  font-size: 40px;
}
.participants__link{
  color: #fd5520;
  font-size: 14px;
  text-decoration: underline;
  margin-right: 30px;
  margin-bottom: 30px;
}
.participants__block{
  width: 330px;
  display: flex;
  margin-top: 34px;
}
.participants__img{
  width: 75px;
  height: 75px;
  margin-right: 15px;
}
.participants__name{
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-bottom: 1px solid #cccccc;
  display: inline-block;
  line-height: 1.4;
  padding: 0px;
  margin: 0px 0;
}
.participants__describe {
  font-size: 12px;
  color: #666666;
  margin-top: 8px;
  line-height: 1.6;
}
.participants__span{
  color: #fd5520;
  text-decoration: underline;
  cursor: pointer;
}
.participants__button{
  border: 1px solid #feaa8f;
  border-radius: 28px;
  padding: 10px 20px;
  background-color: white;
  color: #fd5520;
  font-size: 12px;
}
.participants__button:hover{
  border: 1px solid #feaa8f;
  border-radius: 28px;
  padding: 10px 20px;
  background-color:#fd5520;
  color: white;
  font-size: 12px;
}
.participants__blocks{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.participants__button1{
  border: 1px solid #feaa8f;
  border-radius: 28px;
  padding: 15px 40px;
  background-color: #fd5520;
  color: white;
  font-size: 14px;
  display: block;
  margin-bottom: 40px;
}
.participants__button1:hover{
  border: 1px solid #feaa8f;
  border-radius: 28px;
  padding: 15px 40px;
  background-color: #fb835e;
  color: white;
  font-size: 14px;
  display: block;
  margin-bottom: 40px;
}
.participants__button2{
  border: 1px solid #feaa8f;
  border-radius: 28px;
  padding: 15px 40px;
  background-color: white;
  color: #fd5520;
  font-size: 14px;
  display: block;
  margin-bottom: 100px;
}
.participants__button2:hover{
  border: 1px solid #feaa8f;
  border-radius: 28px;
  padding: 15px 40px;
  background-color: #fd5520;
  color: white;
  font-size: 14px;
  display: block;
  margin-bottom: 100px;
}
.courses__block {
  max-width: 780px;
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  border: 1px solid #edf2f6;
  padding: 30px 0 30px 30px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.courses__text-main{
    text-decoration: none;
    color: #666666;
    font-size: 12px;
}
.courses__block-text{
  width: 90%;
}
.courses__figure {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0px;
  right: 0;
}
.courses__headline{
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.4;
  span{
    border-bottom: 1px solid #999999;
  }
}
.courses__headline-block:hover{
  .courses__headline{
    font-size: 15px;
    font-weight: bold;
    color: #fd5520;
    span{
      border-bottom: 1px solid red;
    }
  }
}
.table{
  margin-top: 25px;
  overflow-x: scroll;
  font-size: 12px;
}
.courses__ball{
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  margin-right: 25px;
}
.courses__img{
  margin-right: 7px;
}
.courses__button2{
  border: 1px solid #feaa8f;
  border-radius: 28px;
  padding: 15px 40px;
  background-color: white;
  color: #fd5520;
  font-size: 14px;
  display: block;
  margin-bottom: 100px;
  margin-top: 55px;
}
.courses__button2:hover{
  border: 1px solid #feaa8f;
  border-radius: 28px;
  padding: 15px 40px;
  background-color: #fd5520;
  color: white;
  font-size: 14px;
  display: block;
  margin-bottom: 100px;
  margin-top: 55px;
}
.applications__links{
  font-size: 14px;
  color: #fd5520;
  border-bottom: 1px dotted red;
  margin-right: 20px;
}
.applications__links:active{
  background-color: #ffe6de;
  border-bottom: none;
  padding: 10px;
}
.nav-tabs{
  margin-bottom: 10px;
}
.nav-tabs{
  border-bottom: none;
  a {
    color: #fd5520;
    text-decoration: none;
  }
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #ffe6de;
}
.applications__links--item{
  background-color: #ffe6de;
  border-bottom: none;
  padding: 10px;
}
.applications__links--item:hover{
  background-color: #ffe6de;
  border-bottom: none;
  padding: 10px;
}
table{
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 100px;
}
.table{
  color: #7a7a7a;
  background-color: white;
}
.table:hover{
  color: #7a7a7a;
}
.pagination a {
  color: red;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  &.active,&:hover{
    color: black;
  }
  &.dot{
    color: black;
  }


}
.pagination {
  margin: 20px 0 110px 0;
}
.th{
  color: #969696;
  font-weight: normal;
}
.td{
  border-bottom: none;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid white;
}
.tr-background:hover{
  background-color: #ffeee8;
  cursor: pointer;
}
.tr-background{
  border-bottom: none;
  border-top: none;
  cursor: pointer;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fd5520;
  cursor: default;
  background-color: #ffeee8;
  border: 1px solid #ddd;
}
.nav-item a{
  text-decoration: underline dashed #fd5520;
}
@media screen and (max-width: 1250px){
  .description__main {
    width: 100%;
  }
  .slick-slider {
    margin-top: 2%;
  }
}
@media screen and (max-width: 638px){
  .slider__headline {
    font-size: 12px;
    text-decoration: underline;
    font-family: Myriad sans-serif;
  }
  .slick-arrow{
    display: none;
  }
  .slick-next{
    display: none;
  }
  .slider__description {
    font-size: 12px;
    font-family: Myriad sans-serif;
  }
  .slider__text {
    padding: 50px;
  }
  .slider {
    width: 477px;}
  .courses__headline {
    border-bottom: none;
  }
}
@media screen and (max-width: 514px){
  .slider {
    width: 300px;
  }
  .navi {
    font-size: 10px;}
}



